In [38]:
#Exercício 12 - Inner Join
#Objetivo: Unir os DataFrames de livros e empréstimos usando o método inner join e mostrar apenas os livros que foram emprestados.

In [39]:
#Instruções:
#1.Carregue os arquivos livros.csv e emprestimos.csv em DataFrames separados.

In [40]:
import pandas as pd

In [41]:
livros = pd.read_csv('C:/Users/Pichau/Downloads/gc-python-2024/aula_6/livros.csv')
emprestimos = pd.read_csv('C:/Users/Pichau/Downloads/gc-python-2024/aula_6/emprestimos.csv')

In [42]:
livros

,id_livro,titulo,autor,ano_publicacao,genero
0,1,Cracking the Coding Interview,Natalie Hayes,1992,Algoritmos
1,2,Cracking the Coding Interview,Brittany Paul,1998,Engenharia de Software
2,3,You Don’t Know JS,Ronald Forbes,2007,Programação
3,4,Effective Java,Laurie Fisher,1992,Ciência da Computação
4,5,Introduction to Algorithms,Carl Carson II,2020,Ciência da Computação
5,6,The Mythical Man-Month,Sarah Peterson,2011,Engenharia de Software
6,7,You Don’t Know JS,Vanessa Holt,2000,Engenharia de Software
7,8,The Mythical Man-Month,Kenneth Velez,2003,Ciência da Computação
8,9,The Mythical Man-Month,Maureen Taylor,1993,Engenharia de Software
9,10,Introduction to Algorithms,Tracy Branch,2008,Algoritmos
10,11,Cracking the Coding Interview,Michael Reynolds,2017,Programação
11,12,Code Complete,Francis Bonilla,2016,Algoritmos
12,13,Code Complete,William Medina,2009,Programação
13,14,Code Complete,Vanessa Porter,1997,Ciência da Computação
14,15,Effective Java,Amanda Stephenson,2015,Engenharia de Software
15,16,The Mythical Man-Month,James Black,1992,Engenharia de Software
16,17,Code Complete,Brianna Rose,2021,Ciência da Computação
17,18,The Pragmatic Programmer,Amy Davis,2000,Algoritmos
18,19,Code Complete,Andrew Williams,2010,Engenharia de Software
19,20,Effective Java,Amy Robinson,2014,Engenharia de Software
20,21,Design Patterns,Albert Simmons,2010,Algoritmos
21,22,Code Complete,Daniel Torres,2022,Ciência da Computação
22,23,Design Patterns,Billy Brewer,1996,Ciência da Computação
23,24,Clean Code,Amanda Russell,2003,Engenharia de Software
24,25,You Don’t Know JS,Kyle Graham,1997,Programação
25,26,Code Complete,Ashley Becker,1994,Programação
26,27,Python Crash Course,Samuel Green,1999,Algoritmos
27,28,Introduction to Algorithms,Kevin Francis,2020,Programação
28,29,The Pragmatic Programmer,Thomas Jackson,2018,Ciência da Computação
29,30,Design Patterns,Kristina Wilkinson,2021,Programação
30,31,The Pragmatic Programmer,Suzanne Romero,2004,Algoritmos
31,32,Refactoring,Sean Carroll,2023,Algoritmos
32,33,Refactoring,Jennifer Hawkins,1998,Engenharia de Software
33,34,Code Complete,Juan Lewis,2018,Engenharia de Software
34,35,Design Patterns,Melissa French,2004,Programação
35,36,Head First Design Patterns,Alan Smith,2009,Ciência da Computação
36,37,Refactoring,Kimberly Webb,2021,Engenharia de Software
37,38,The Mythical Man-Month,Terrence Barrett,2019,Programação
38,39,Code Complete,Jennifer Wallace,1994,Algoritmos
39,40,The Mythical Man-Month,Dalton Meadows,2009,Algoritmos
40,41,Cracking the Coding Interview,Thomas Mcdaniel,1998,Algoritmos
41,42,The Pragmatic Programmer,Amy Berg,2018,Engenharia de Software
42,43,Cracking the Coding Interview,Christopher Patton,2015,Algoritmos
43,44,Python Crash Course,Steven Wood,2016,Algoritmos
44,45,Design Patterns,Robert Rice,1993,Engenharia de Software
45,46,Introduction to Algorithms,Eric Crawford,2011,Ciência da Computação
46,47,Design Patterns,Steven Lyons,2023,Algoritmos
47,48,Design Patterns,Samuel Long,1991,Engenharia de Software
48,49,You Don’t Know JS,Dylan Barnes,2006,Algoritmos
49,50,Code Complete,Sandra Greer,2006,Programação

In [43]:
emprestimos

    id_emprestimo  id_livro nome_leitor data_emprestimo data_devolucao
0             100        13       Caleb      2024-08-10     2024-10-28
1             101        30     Cynthia      2024-08-25     2024-10-31
2             102        30       Wendy      2024-09-23            NaN
3             103         5     Michael      2024-09-22            NaN
4             104        36    Virginia      2024-08-08     2024-10-31
5             105        41     Gregory      2024-09-24     2024-10-25
6             106        43      Travis      2024-09-16     2024-10-13
7             107         6      Thomas      2024-08-21     2024-10-22
8             108        24       Peggy      2024-08-17     2024-10-15
9             109        21      Martha      2024-08-09     2024-10-28
10            110        12    Mitchell      2024-08-07     2024-10-13
11            111         3        Kent      2024-09-08            NaN
12            112        42        Kari      2024-08-25     2024-10-20
13            113        22     Tiffany      2024-09-09            NaN
14            114         4      Elijah      2024-08-23     2024-10-15
15            115        45  Jacqueline      2024-09-02     2024-10-28
16            116        14    Kathleen      2024-08-11     2024-10-21
17            117        21     Annette      2024-09-05     2024-10-25
18            118        31     Colleen      2024-08-04            NaN
19            119        42      Manuel      2024-08-15            NaN
20            120        16        Lisa      2024-09-25     2024-10-29
21            121        37       Logan      2024-08-13            NaN
22            122        37       Megan      2024-08-07     2024-10-12
23            123         8      Walter      2024-08-15            NaN
24            124        25      Steven      2024-09-05            NaN
25            125        23      Ashley      2024-09-03     2024-10-12
26            126        31    Jennifer      2024-09-28     2024-10-30
27            127        34    Samantha      2024-08-08     2024-10-27
28            128        35     Michael      2024-09-22     2024-10-18
29            129        18   Johnathan      2024-08-10     2024-10-21
30            130        11     Michael      2024-09-14     2024-10-18
31            131        17      Tracey      2024-09-04     2024-10-17
32            132         4     Rebekah      2024-09-15     2024-10-23
33            133        28   Alexander      2024-09-01     2024-10-15
34            134         1     Stephen      2024-10-01     2024-10-31
35            135         6    Danielle      2024-08-06            NaN
36            136        35     Darrell      2024-09-26     2024-10-31
37            137        45     Richard      2024-09-17     2024-10-21
38            138        16      Thomas      2024-09-08     2024-10-22
39            139         3       Brian      2024-09-07     2024-10-27
40            140         8       Andre      2024-09-11            NaN
41            141        11      Miguel      2024-09-13            NaN
42            142         1      Justin      2024-08-27            NaN
43            143        36        Tina      2024-08-18     2024-10-30
44            144        47     Richard      2024-08-21     2024-10-19
45            145        31       Aaron      2024-09-25     2024-10-19
46            146        32      Lauren      2024-08-13            NaN
47            147        10   Katherine      2024-09-30     2024-10-29
48            148        29        Paul      2024-09-28     2024-10-18
49            149        40     Vanessa      2024-08-14            NaN

In [44]:
#2. Realize um inner join entre as tabelas, unindo-as pela coluna id_livro.

In [45]:
mesclagem = pd.merge(livros, emprestimos, on='id_livro', how='inner')
mesclagem.head(10)

,id_livro,titulo,autor,ano_publicacao,genero,id_emprestimo,nome_leitor,data_emprestimo,data_devolucao
0,1,Cracking the Coding Interview,Natalie Hayes,1992,Algoritmos,134,Stephen,2024-10-01,2024-10-31
1,1,Cracking the Coding Interview,Natalie Hayes,1992,Algoritmos,142,Justin,2024-08-27,NaN
2,3,You Don’t Know JS,Ronald Forbes,2007,Programação,111,Kent,2024-09-08,NaN
3,3,You Don’t Know JS,Ronald Forbes,2007,Programação,139,Brian,2024-09-07,2024-10-27
4,4,Effective Java,Laurie Fisher,1992,Ciência da Computação,114,Elijah,2024-08-23,2024-10-15
5,4,Effective Java,Laurie Fisher,1992,Ciência da Computação,132,Rebekah,2024-09-15,2024-10-23
6,5,Introduction to Algorithms,Carl Carson II,2020,Ciência da Computação,103,Michael,2024-09-22,NaN
7,6,The Mythical Man-Month,Sarah Peterson,2011,Engenharia de Software,107,Thomas,2024-08-21,2024-10-22
8,6,The Mythical Man-Month,Sarah Peterson,2011,Engenharia de Software,135,Danielle,2024-08-06,NaN
9,8,The Mythical Man-Month,Kenneth Velez,2003,Ciência da Computação,123,Walter,2024-08-15,NaN

In [46]:
#3. Exiba o resultado, mostrando as colunas: titulo, autor, nome_leitor, data_emprestimo e data_devolucao.

In [47]:
colunas_selecionadas = ['titulo', 'autor', 'nome_leitor', 'data_emprestimo', 'data_devolucao']
resultado_filtrado = mesclagem[colunas_selecionadas]

resultado_filtrado.head(10)

,titulo,autor,nome_leitor,data_emprestimo,data_devolucao
0,Cracking the Coding Interview,Natalie Hayes,Stephen,2024-10-01,2024-10-31
1,Cracking the Coding Interview,Natalie Hayes,Justin,2024-08-27,NaN
2,You Don’t Know JS,Ronald Forbes,Kent,2024-09-08,NaN
3,You Don’t Know JS,Ronald Forbes,Brian,2024-09-07,2024-10-27
4,Effective Java,Laurie Fisher,Elijah,2024-08-23,2024-10-15
5,Effective Java,Laurie Fisher,Rebekah,2024-09-15,2024-10-23
6,Introduction to Algorithms,Carl Carson II,Michael,2024-09-22,NaN
7,The Mythical Man-Month,Sarah Peterson,Thomas,2024-08-21,2024-10-22
8,The Mythical Man-Month,Sarah Peterson,Danielle,2024-08-06,NaN
9,The Mythical Man-Month,Kenneth Velez,Walter,2024-08-15,NaN