In [2]:
#Exercício 05 - Crie uma lista com 5 nomes de filmes que você goste.
#Crie uma 2a lista com o ano de lançamento desses 5 filmes (pode pesquisar, eu deixo). Tranforme isso em um dataframe;
#Adicione uma nova coluna com a nota, de 1 a 10, de quanto você gosta deles;
#Crie mais 2 dataframes, de séries e anime/desenhos que você gosta, com as mesmas colunas acima.
#Salve os 3 dataframes em 'csv', 'json' e 'html' e nos envie os arquivos.
#Concatene horizontalmente os 3 dataframes, ficando 9 colunas no final.

In [3]:
import pandas as pd

In [4]:
filmes = ['Interestelar', 'The Batman', 'Avatar 2', 'Um lugar silencioso', 'Arcane']
data_lancamento = ['2014', '2022', '2022', '2024', '2021']

In [5]:
df = pd.DataFrame ({
    'Filmes' : filmes,
    'Lançamento' : data_lancamento
})

In [6]:
df

                Filmes Lançamento
0         Interestelar       2014
1           The Batman       2022
2             Avatar 2       2022
3  Um lugar silencioso       2024
4               Arcane       2021

In [7]:
df['Notas'] = [10, 10, 9, 10, 9]
df

                Filmes Lançamento  Notas
0         Interestelar       2014     10
1           The Batman       2022     10
2             Avatar 2       2022      9
3  Um lugar silencioso       2024     10
4               Arcane       2021      9