In [114]:
#Exercício 09
#Use 3 dataframes criados na aula anterior, mostre apenas o filme/série/anime com maior pontuação.
#Leia o arquivo do dataset em json.
#Selecione apenas as 3 primeiras colunas do dataset
#Selecione apenas as 10 primeiras linhas do dataset
#Utilize uma função para identificar o valor médio da primeira coluna
#Filtre o dataframe pegando apenas as linhas com valores maiores que essa média.
#Escolha uma coluna com valores textuais e filtre o dataframe pelo 1o valor
#Escolha uma coluna, como ano, titulo, etc e ordene seu dataframe tanto de forma crescente quanto decrescente

In [115]:
import pandas as pd

In [116]:
filmes = pd.read_json('../aula_03/filmes.json')
series = pd.read_json('../aula_03/series.json')
animes = pd.read_json('../aula_03/animes.json')

In [117]:
df_geral = pd.concat([filmes, series, animes], axis=1)
df_geral

,Filmes,Lançamento,Notas,Séries,Lançamento,Notas,Animes,Lançamento,Notas
0,Interestelar,2014,10,Breaking Bad,2008,10,Dragon Ball,1986,10
1,The Batman,2022,10,Peaky Blinders,2013,9,One Piece,1997,10
2,Avatar 2,2022,9,The Midnight Gospel,2020,10,Naruto,2002,10
3,Um lugar silencioso,2024,10,Stranger Things,2016,10,Jujutsu Kaisen,2018,10
4,Arcane,2021,9,The End Of The Fucking World,2017,10,Mob Psycho 100,2016,10

In [121]:
mais_vistos = df_geral.iloc[df_geral['Notas'].idxmax()]
mais_vistos

,Filmes,Lançamento,Notas,Séries,Lançamento,Notas,Animes,Lançamento,Notas
0,Interestelar,2014,10,Breaking Bad,2008,10,Dragon Ball,1986,10
0,Interestelar,2014,10,Breaking Bad,2008,10,Dragon Ball,1986,10
0,Interestelar,2014,10,Breaking Bad,2008,10,Dragon Ball,1986,10