In [22]:
#Exercício 16
#Considere o dataset 16_dataset_notas_alunos.csv (ver nos recursos da aula no Discord). Então, extraia as seguintes informações:

In [23]:
import pandas as pd

notas_alunos = pd.read_csv('16_dataset_notas_alunos.csv')

notas_alunos.head()

   Aluno  Idade  Matemática  Ciências
0      1     17          67        60
1      2     15          83        78
2      3     17          70        61
3      4     17          76        85
4      5     15          67        91

In [24]:
#1. Calcule a média das notas em Matemática e Ciências.

In [25]:
media_matematica = notas_alunos['Matemática'].mean()
print(f'A média das notas de matemática são {media_matematica}')
media_ciencia = notas_alunos['Ciências'].mean()
print(f'A média das notas de ciência são {media_ciencia}')

A média das notas de matemática são 81.57
A média das notas de ciência são 80.26

In [26]:
#2. Encontre a mediana das notas em Matemática e Ciências.

In [27]:
mediana_matematica = notas_alunos['Matemática'].median()
print(f'A mediana das notas de matemática são {mediana_matematica}')
mediana_ciencia = notas_alunos['Ciências'].median()
print(f'A mediana das notas de ciência são {mediana_ciencia}')

A mediana das notas de matemática são 84.5
A mediana das notas de ciência são 79.5

In [28]:
#3. Determine a moda das notas em Matemática e Ciências.

In [29]:
moda_matematica = notas_alunos['Matemática'].mode()[0]
print(f'A moda das notas de matemática são {moda_matematica}')
moda_ciencia = notas_alunos['Ciências'].mode()[0]
print(f'A moda das notas de ciência são {moda_ciencia}')

A moda das notas de matemática são 98
A moda das notas de ciência são 92

In [30]:
#4. Calcule a amplitude das notas em Matemática e Ciências.

In [31]:
amplitude_matematica = notas_alunos['Matemática'].max() - notas_alunos['Matemática'].min()
print(f'A amplitude das notas de matemática são {amplitude_matematica}')
amplitude_ciencia = notas_alunos['Ciências'].max() - notas_alunos['Ciências'].min()
print(f'A amplitude das notas de ciência são {amplitude_ciencia}')

A amplitude das notas de matemática são 40
A amplitude das notas de ciência são 40

In [32]:
#5. Calcule a variância das notas em Matemática e Ciências.

In [33]:
variancia_matematica = notas_alunos['Matemática'].var()
print(f'A variância das notas de matemática são {variancia_matematica:.2f}')
variancia_ciencia = notas_alunos['Ciências'].var()
print(f'A variância das notas de ciência são {variancia_ciencia:.2f}')

A variância das notas de matemática são 160.75
A variância das notas de ciência são 150.15

In [34]:
#6. Calcule o desvio padrão das notas em Matemática e Ciências.

In [35]:
desvio_matematica = notas_alunos['Matemática'].std()
print(f'O desvio padrão das notas de matemática são {desvio_matematica:.2f}')
desvio_ciencia = notas_alunos['Ciências'].std()
print(f'O desvio padrão das notas de ciência são {desvio_ciencia:.2f}')

O desvio padrão das notas de matemática são 12.68
O desvio padrão das notas de ciência são 12.25

In [36]:
#7. Calcule a covariância entre as notas de Matemática e Ciências.

In [37]:
covariancia = notas_alunos[['Matemática', 'Ciências']].cov().iloc[0, 1]
print(f'A covariância das notas entre matemática e ciência são {covariancia:.2f}')

A covariância das notas entre matemática e ciência são 9.13

In [38]:
#8. Calcule a correlação entre as notas de Matemática e Ciências.

In [39]:
correlacao = notas_alunos[['Matemática', 'Ciências']].corr().iloc[0, 1]
print(f'A correlação das notas entre matemática e ciência são {correlacao:.2f}')

A correlação das notas entre matemática e ciência são 0.06